<div class="row">
    <div class="col-md-4 mt-4 mx-auto">
        <div class="card m-2 animated animated fadeIn delay-2s">
            <img src="/assets/logo.svg" class="imgLogin animated bounce delay-3s" alt="loginUser">
            <div class="card-body">
                <form [formGroup]="formRegister">
                    <div class="form-group">
                        <label for="email"> <i class="fas fa-at"></i> Email </label>
                        <input formControlName="email" class="form-control form-control-sm inputLogin" type="email"
                            name="email" placeholder="example@gmail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="password"> <i class="fas fa-key"></i> Contraseña (6 caracteres minimo) </label>
                        <input formControlName = "password" class="form-control form-control-sm inputLogin" type="password"
                            name="password" placeholder="Password" required>
                    </div>
                </form>

            </div>
            <div class="card-footer">
                <button (click)="singUp()" class="btn btn-secondary btn-block">Registrarme</button>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <button class="btn btn-success" (click)="goBack()"> Volver </button>
</div>