<section id="sectionCabecera " class="animated fadeInDown delay-2s">
    <div class="row">
        <div class="col-md-10">
            <img id="imgLogo" src="/assets/logo.svg" alt="">
        </div>
    </div>
</section>
<section id="sectionCompra " class="animated fadeInLeft delay-2s">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Tokens en Venta <i class="fas fa-coins fa-2x"></i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto table-responsive">
            <table id="listadoEnVenta" class="table table-sm table-hover table-light table-striped">
                <thead>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Precio/unidad</th>
                    <th>Operacion</th>
                </thead>
                <tbody *ngIf="shopTokens && currentUser">
                    <tr *ngIf="shopTokens.length == 0">
                        <td colspan="4">
                            <h5>No hay nada para mostrar</h5>
                        </td>
                    </tr>
                    <tr *ngFor="let oferta of shopTokens">
                        <td>{{oferta.data.fecha|date}}</td>
                        <td *ngIf="oferta.data.tipo == 2"> Quiero Comprar {{oferta.data.cantidad}} <i
                                class="fas fa-coins"></i></td>
                        <td *ngIf="oferta.data.tipo != 2"> Vendo {{oferta.data.cantidad}} <i class="fas fa-coins"></i>
                        </td>

                        <td> {{oferta.data.precio|currency}}</td>
                        <td
                            *ngIf="oferta.data.tipo!=2 && oferta.data.status == 1 && currentUser.id != oferta.data.userId">
                            <span (click)="mostrarSolicitud(oferta)" class="badge badge-warning animated flipInY delay-2s"
                                data-toggle="modal" data-target="#loockPay"><i class="fas fa-hand-holding-usd fa-2x"></i>
                                Comprar </span></td>
                        <td
                            *ngIf="oferta.data.tipo!=2 && oferta.data.status == 2 && currentUser.id != oferta.data.userId">
                            Compra en Curso</td>
                        <td
                            *ngIf="oferta.data.tipo!=2 && oferta.data.status == 1 && currentUser.id == oferta.data.userId">
                            <span class="badge badge-secondary animated flipInY delay-2s">(Yo) <i
                                    class="fas fa-hand-holding-usd fa-2x"></i></span></td>

                        <td *ngIf="oferta.data.tipo == 2 && currentUser.id != oferta.data.userId"
                            (click)="mostrarOfertaCompra(oferta)" class="cursor" data-toggle="modal"
                            data-target="#vender"><span class="badge badge-primary animated flipInY delay-2s">Ofrecer Vender <i
                                    class="fas fa-hand-holding-usd fa-2x"></i></span>
                        </td>
                        <td *ngIf="oferta.data.tipo == 2 && currentUser.id == oferta.data.userId"><span
                                class="badge badge-secondary animated flipInY delay-2s">(Yo) <i
                                    class="fas fa-hand-holding-usd fa-2x"></i>
                            </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="sectionVenta" class="animated fadeInLeft delay-2s">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Mis Operaciones de Venta</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <table id="listadoEnVenta" class="table table-hover table-light table-striped">
                <thead>
                    <th>Cantidad</th>
                    <th>Precio/Unidad</th>
                    <th>Estado</th>
                </thead>
                <tbody *ngIf="myTokenSale">
                    <tr *ngIf="myTokenSale.length == 0">
                        <td colspan="3">
                            <p>No tienes Operaciones de venta</p>
                        </td>
                    </tr>
                    <tr *ngFor="let venta of myTokenSale">
                        <td> {{venta.data.cantidad}} <i class="fas fa-coins"></i></td>
                        <td> {{venta.data.precio|currency}}</td>
                        <td *ngIf="venta.data.status == 1"> En espera</td>
                        <td *ngIf="venta.data.status == 0"> Realizada</td>
                        <td *ngIf="venta.data.status == 2"> <span
                                class="badge badge-warning animated infinite bounce">Solicitud</span> Acuerda el pago en
                            la pantalla principal</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h4> Lista de "Quiero comprar" </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <table id="listadoEnVenta" class="table table-hover table-light table-striped">
                <thead>
                    <th>Cantidad</th>
                    <th>Estado</th>
                </thead>
                <tbody *ngIf="ofertaComprar">
                    <tr *ngIf="myTokenSale.length == 0">
                        <td colspan="2">
                            <p>No has hecho ofertas de compra</p>
                        </td>
                    </tr>
                    <tr *ngFor="let oferta of ofertaComprar">
                        <td>{{oferta.data.cantidad}} <i class="fas fa-coins"></i></td>
                        <td>
                            <p>Activa</p>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card mt-4">
                <div class="card-header">
                    <h4>Realizar una Venta</h4>
                </div>
                <div class="card-body">
                    <p class="card-text font-smaller text-justify">Puedes Ofertar tus tokens, los interesados te
                        enviaran una señal y tu podras acordar con ellos el metodo de pago, se notificara en la
                        aplicacion principal cuando alguien te envie una señal</p>
                    <form [formGroup]="formSaleToken" autocomplete="off">
                        <span> Cantidad Disponible <strong *ngIf="currentUser"> {{currentUser.data.misTokens}}
                                <i class="fas fa-coins"></i></strong></span>
                        <div class="form-group">
                            <input formControlName="cantidad" type="number" name="cantidad"
                                placeholder="Ingresa una Cantidad" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <input formControlName="precio" type="number" name="precio"
                                placeholder="Precio / Unidad (sin puntos ni comas)"
                                class="form-control form-control-sm">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-info" type="button" (click)="realizarVenta()"> Realizar Venta <i
                                    class="fas fa-tags fa-2x"></i> </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto">
            <div class="card mt-4">
                <div class="card-header">
                    <h4>Ofrecer una Compra</h4>
                </div>
                <div class="card-body">
                    <p class="card-text font-smaller text-justify">Puedes crear una oferta de compra, para que los
                        usarios vean tu interes en adquirir tokens, ingresa la cantidad que quieres comprar.
                        apareceras en la seccion de ventas, los interesados se comunicaran contigo.</p>
                    <form [formGroup]="formGenerarCompra" autocomplete="off" (submit)="realizarCompra()">
                        <div class="form-group">
                            <input type="number" name="cantidad" formControlName="cantidad"
                                class="form-control form-control-sm" placeholder="Cantidad">
                        </div>
                        <div class="form-group">
                            <input type="number" formControlName="precio" placeholder="Precio / Unidad"
                                class="form-control form-control-sm">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-info" type="button" (click)="ofertarCompra()"> Quiero Comprar <i
                                    class="fas fa-coins fa-2x"></i> </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="acuerdoPago">
    <!-- Modal acordar metodo de pago -->
    <div class="modal fade" id="loockPay" tabindex="-1" role="dialog" aria-labelledby="payMethod" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form [formGroup]="formBuyToken" autocomplete="off">
                    <input type="hidden" formControlName="vendedorId" name="vendedorId">
                    <input type="hidden" formControlName="codeOp" name="codeOp">
                    <div class="modal-header">
                        <h5 class="modal-title" id="payMethod">Acordar Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tu Informacion de Contacto se enviara a esta persona, una vez que ambas partes esten de
                            acuerdo se liberaran los tokens en tu cuenta</p>
                        <p>Agrega un mensaje personalisado a la solicitud</p>
                        <div class="form-group">
                            <input formControlName="mensaje" name="mensaje" class="form-control form-control-sm"
                                type="text" placeholder="mensaje">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" (click)="realizarCompra()" class="btn btn-primary"
                            data-dismiss="modal">Realizar Solicitud</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Modal aplicar a oferta de compra -->
    <div class="modal fade" id="vender" tabindex="-1" role="dialog" aria-labelledby="ofertaDeCompra" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form [formGroup]="formSendToken" autocomplete="off">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ofertaDeCompra">Acuerdo de Venta.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Esta es la informacion de contacto del comprador, confirma el metodo de
                            pago y la cantidad. Una vez hecho esto puedes proceder a enviarle la cantidad acordada</p>
                        <p *ngIf="ofertSelected">Correo Electronico {{ofertSelected.data.email}}</p>
                        <div class="form-group">
                            <input formControlName="cantidad" name="mensaje" class="form-control form-control-sm"
                                type="number" placeholder="Ingresa la cantidad Total a Enviar">
                        </div>
                        <div class="form-group">
                            <input formControlName="precio" name="mensaje" class="form-control form-control-sm"
                                type="number" placeholder="Precio / Unidad">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" (click)="concretarVenta()" class="btn btn-primary"
                            data-dismiss="modal">Enviar Tokens</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<div id="footer">
    <button class="btn btn-success" (click)="goBack()"> Volver </button>
</div>